* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  display: grid;
}

.noti {
  padding: 10px 13px 10px 10px !important;
  position: relative !important;
  border-radius: 0 0 4px 4px !important;
  margin: 0 !important;
}

.selectContainer {
  width: 100%;
  margin: 2rem auto 1.5rem auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

#location {
  width: content;
}
#age {
  width: content;
}

.section {
  margin: -3rem 0 0 0;
}

.mainbox {
  display: none;
  width: 80%;
  height: content;
  overflow: hidden;
  border: 1px solid black;
  margin: auto;
  padding: .9rem;
  margin: 1.2rem auto;
  justify-content: start;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0px 0 1px rgba(10,10,10, 0.02);
  align-content: space-between;
}

h1 {
  font-size: 1.1rem !important;
}

p {
  font-size: .9rem !important;
  color: #747479 !important;
}

hr {
  margin: .5rem 0 !important;
}

.info {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: .1rem 0;
  font-size: .95rem;
}

.dose {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: .1rem 0;
  font-size: .95rem;
}

.vaccine {
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  margin: .1rem 0;
  font-size: .9rem;
}

#date {
  width: 100px;
}

.error {
  width: 80%;
  margin: -2rem auto;
  padding: 10px !important;
  text-align: center;
  display: none;
}