* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.5rem;
  display: grid;
}

.selectContainer {
  width: 100%;
  margin: 2rem auto 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

#location {
  width: content;
}
#age {
  width: content;
}

.section {
  margin: -2rem 0 0 0;
}

.mainbox {
  display: none;
  width: 80%;
  height: content;
  overflow: hidden;
  border: 1px solid black;
  margin: auto;
  padding: 1rem 1rem;
  margin: 1.5rem auto;
  justify-content: start;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,0.1), 0 0px 0 1px rgba(10,10,10, 0.02);
  align-content: space-between;
}

h1 {
  font-size: 1.7rem;
}

p {
  font-size: 1.3rem;
}

.info {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.dose {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

#date {
  width: 100px;
}